<form action="/create" method="POST">

    <h2>Create Todo</h2>
    <div class="input-field">
        <input type="text" name="username">
        <label>Name</label>
    </div>


    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>

    <button type="submit" class="btn">Create</button>

</form>